body {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    overflow-x: hidden;
}

header, .header-darkblue-hat, .header-blue-hat, main, footer {
    float:left;
}

.header-darkblue-hat, .header-blue-hat, .footer-menu {
    width: 100vw;
}

.header-darkblue-hat {
    padding: 10px 0;
    background-color: #0F1D50;
}

.header-logo {
    float: left;
    margin-left: 150px;
}

.header-logo-img {
    width: 190px;
    height: 67px;
}

.header-right-title {
    float: right;
    margin-right: 150px;
}

h1 {
    color: #0F1D50;
}

.header-blue-hat {
    padding: 20px 0;
    background-color: #7591b9;
}

.main-title {
    margin: 20px 0 0 100px;
}

.product-cards-container {
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    float: left;
    border: 5px solid #0F1D50;
    border-radius: 20px;
    margin: 20px 102px;
}

.shirt-img {
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 235px;
}

.shirt-name {
    padding-left: 10px;
    line-height: 0;
    color: #0F1D50;
}

.shirt-colors-info {
    display: block;
    padding: 0 0 10px 10px;
    font-size: 11px;
    color: gray;
}

button {
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 2px solid #0F1D50;
    border-radius: 15px/7.5px;
    background-color: #0F1D50;
    color: white;
}

.quick-view-btn {
    float: left;
    margin-left: 15px;
}

.see-page-btn {
    float: right;
    margin-right: 15px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #0F1D50;
}

.footer-menu-item {
    margin: 0 80px;
}

.footer-link {
    text-decoration: none;
    color: white;
}