 
 body{
    background-color: rgb(255, 203, 164);
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
 }

 .dark-mode{
   background-color: black;
   color: white;
 }
 
 h2{
   font-size: x-large;
 }
 h4{
    font-size: x-large;
 }  

 p3{
   font-size: 22px;
 }
 
 
 p{
   font-size: 22px;
 }
 
 .image-container{
    max-width: 400px;
    height: 300px;
    margin: 0  32px auto;
    display: inline-flex;
    border: 2px solid #222;

 }

 .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .image-container .image{
    position: relative;
 }

 .image-container .description{
    font-family:monospace;
    position: absolute;
    bottom: 0;
    background: #222;
    color: aliceblue;
    padding: 8px 16px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0,4);
    font-size: larger;


 }


 .fury img{
    width: 45%;
    height: 45%;
    object-fit: cover;
 }

 .fury .image{
    position: relative;
 }

 .fury .des{
    text-align: center ;
    text-decoration-line:none;
    text-overflow: clip;
    direction: rtl;
    position: relative;
    bottom: 0;
 }



 .quiet desc{
   text-align: center ;
    text-decoration-line:none;
    text-overflow: clip;
    direction: rtl;
    position: relative;
    bottom: 0;
 }

 .quiet im{
   position: relative;
   width: 100%;
    height: 100%;
    object-fit: cover;
 }

 
 